/* rgb(113, 169, 247);  blue */ 
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(113, 169, 247);
}

main {
    height: 80vh;
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-label{
    align-self: flex-start;
    margin-bottom: -3px;
}

.input-field {
    font-size: 24px;
    text-align: center;
    
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    outline: 0;
    margin-bottom: 10px;
    width: 400px;
}